.countryList {
  background-color: #a7a7a7;
}

.countryDetails {
  background-color: peachpuff;
}

.animCountries.ng-enter {
  -webkit-animation: fadeInLeft 1s;
  -ms-animation: fadeInLeft 1s;
  animation: fadeInLeft 1s;
}

.animCountries.ng-leave {
  -webkit-animation: bounceOut 3s;
  -ms-animation: bounceOut 3s;
  animation: bounceOut 3s;
}

.countryList.ng-hide-add {
  -webkit-animation: slideOutLeft 1s;
  -ms-animation: slideOutLeft 1s;
  animation: slideOutLeft 1s;
  display: block !important;
}

.countryList.ng-hide-remove {
  -webkit-animation: slideInLeft 1s;
  -ms-animation: slideInLeft 1s;
  animation: slideInLeft 1s;
}

.countryDetails.ng-leave {
  -webkit-animation: slideOutRight 1s;
  -ms-animation: slideOutRight 1s;
  animation: slideOutRight 1s;
}

.countryDetails.ng-enter {
  -webkit-animation: slideInRight 1s;
  -ms-animation: slideInRight 1s;
  animation: slideInRight 1s;
}